/* 代码块复制按钮 */
.highlight {
    /* 方便copy代码按钮（btn-copy）的定位 */
    position: relative;
}
.btn-copy {
    border-radius: 3px;
    border-width: 0px;
    font-size: 13px;
    line-height: 20px;
    padding: 2px 6px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    color: black;
    opacity: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}
.btn-copy span {
    margin-left: 5px;
}
.highlight:hover .btn-copy {
    opacity: 1;
}
/* 代码块复制按钮 */